/*.flex-container {
    /*display: left;*/
    /*flex-direction: row;*/
/*}
/*nav {
    justify-content: center;
}*/

h3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.low {
    background-color: green;
}

.mod {
    background-color: yellow;
}

.high { 
    background-color: orange;
}

.vhigh {
    background-color: red;
}

.extreme {
    background-color: purple;
}

.card {
    background-color: cornflowerblue;
    color: white;
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: 10px;
}

img {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}